[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
numpy = "*"
tensorflow = "*"
opencv-python = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
