[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
